{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <title>Password Reset Questions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'accounts/password_reset.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">Eventify</div>
        <h1>Password Reset Questions</h1>
    {% if user.security_question %}
        <h2>Reset Password</h2>
        <p><strong>Security Question:</strong> {{ user.security_question }}</p>

        <form method="POST">
            {% csrf_token %}
            <label for="security_answer">Answer:</label>
            <input type="text" name="security_answer" required>

            <button type="submit">Verify</button>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    {% else %}
        <p>Error: Security question is missing.</p>
    {% endif %}
    </div>

    <footer>
        <div class="footer-nav">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'event_list' %}">Listings</a>
        </div>

        <div class="social-links">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-tiktok"></i></a>
        </div>

        <div class="copyright">
            © 2025, Eventify. All Rights Reserved
        </div>
    </footer>
</body>
</html>
