{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'accounts/password_reset.css' %}">
</head>
<body>    
    <div class="container">
        <div class="logo">Eventify</div>
        <h1>Password Reset Request</h1>
        <form method="post">
            {% csrf_token %}
            <label for="login_input">Username or Email:</label>
            <input type="text" id="login_input" name="login_input" required>
            <button type="submit">Find Password</button>
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
        </form>        
    </div>

    <footer>
        <div class="footer-nav">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'event_list' %}">Listings</a>
        </div>

        <div class="social-links">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-tiktok"></i></a>
        </div>

        <div class="copyright">
            © 2025, Eventify. All Rights Reserved
        </div>
    </footer>
</body>
</html>
